@import 'flex';
@import 'footer';
@import 'box';
@import 'typography';

body {
  font-family: 'Fira Code', monospace;
  font-weight: 300;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 1.5;
}

img {
  margin: 1rem 0;
  width: 100%;
  background-color: pink;
}

.header-content, .footer-content, nav, section {
  margin: 0 auto;
  max-width: 80rem;
}

header {
  width: 100%;
  background-color: rgb(50,76,82);
  font-size: 1.25rem;
  padding: 2rem;
  a {
    color: white;
    text-decoration: none;
  }
}

main {
  padding: 1rem 2rem;
  margin-bottom: 6rem;
}

.footer-content {
  font-size: .85rem;
  color: white;
  padding: 2rem;
}


nav ul {
  margin-left: 2rem;
  padding-left: 0;
}

nav li {
  list-style: none;
  display: inline;
  margin-right: 1rem;
}

