@import 'flex';
@import 'box';

body {
  font-family: 'Fira Code', monospace;
  font-weight: 300;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 1.5;
}

img {
  margin: 1rem 0;
  width: 100%;
  background-color: pink;
}

.header-content, .footer-content, nav, section {
  margin: 0 auto;
  max-width: 80rem;
}

header {
  width: 100%;
  background-color: rgb(50,76,82);
  //background-color: rgb(20, 168, 107);
  font-size: 1.25rem;
  padding: 2rem 0;
  a {
    color: white;
    text-decoration: none;
  }
}

main {
  padding: 1rem 0;
}

.footer-content {
  font-size: .85rem;
  color: white;
  padding: 2rem 0;
}

footer {
  background-color: rgb(27,158,159);
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  margin: 0 auto;
  max-width: 80rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 80rem;
}

p, li {
  font-size: 1rem;
}

.title-case, li {
  //text-transform: capitalize;
}

nav ul {
  margin-left: 0;
  padding-left: 0;
}

nav li {
  list-style: none;
  display: inline;
  margin-right: 1rem;

  a {
    color: rgb(20, 168, 107);
  }
}
