@import '~lottecss/assets/styles/lotte.scss';

.header-content, .footer-content, section, h1, h2 {
  margin: 0 auto;
  max-width: 80rem;
}

header {
    text-align: center;
}

nav {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid black;
}

nav ul {
  margin: 0 auto;
  padding-left: 0;
}

nav li {
  list-style: none;
  display: inline;
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }
}

.main-full-width {
    padding: 0;
    max-width: unset;
    margin-bottom: 0;
}

h1 {
  padding-top: 1rem;
  text-align: center;
}

img {
  margin-top: 0;
}

.title-case {
  text-transform: capitalize;
}


.flex-3 {
  flex: 0 0 33.33333%;
}
